.step4 {

  h1 {
    text-align: center;
    font-size: 30px;
    color: white;
    opacity: 0.4;
    margin-bottom: 20px;
  }

  h2 {
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 36px;
    display: flex;
    align-items: center;

    span {
      opacity: 0.4;
    }
  }
}