.game-play {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  color: rgb(21, 21, 21);
  background-color: #212121;

  display: flex;
  align-items: center;
  justify-content: center;

  .arena {
    width: 100vw;
    max-width: 1280px;
    height: 100%;
    max-height: 768px;
    background-color: white;
    position: relative;

    .next {
      width: 15vw;
    }

    .board-view {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      color: white;
      color: #414141;

      .center {
        font-size: clamp(18px, 2.97vw, 38px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .timer {
          color: black;
          text-align: center;
          font-size: 85px;
          font-weight: 700;
          margin-bottom: 25px;
        }

        p {
          color: black;
          margin-bottom: 40px;
          width: 70%;
          text-align: center;
        }
      }

      .board-option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50%;
        animation: fade-in-from-center 500ms ease-out forwards;
        opacity: 0;
        transform: scale(0);
        transform-origin: center center;

        .option-circle {
          height: 20vw;
          max-height: 256px;
          width: 20vw;
          max-width: 256px;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transition: opacity 1000ms ease-out, transform 350ms ease-in 900ms;
          }
        }
      }
    }
  }
}

@keyframes fade-in-from-center {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
