.separator {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;

  i {
    color: #dcdcdc;
    background-color: white;
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}