.game {
  background-color: #0f8b8d;
  animation: transition-color 250ms ease-out forwards;
  height: calc(100% - 70px);
  overflow: hidden;
}

@keyframes transition-color {
  to {
    background-color: #126168;
  }
}