.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  &-logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #cacaca;
  }

  &-menu-icon {
    color: #862820;
    font-size: 35px;
  }
}