.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.1);

  &.no-bg {
    background-color: white;
  }

  &-logo {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &-menu-icon {
    color: white;
    font-size: 30px;
  }
}