.home-menu {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: #5e5e5e;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  ul {
    width: 80%;
    li {
      background-color: #feac00;
      border-radius: 20px;
      
      &:first-child {
        background-color: #862820;
      }

      &:last-child {
        background-color: #77848D;
      }

      a {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 100%;
        // font-weight: bold;
        margin-bottom: 25px;
        text-decoration: none;
        text-transform: uppercase;
    
        &:visited {
          color: white;
        }
      }
    }
  }
}
