.outro {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  h1 {
    font-size: 75px;
    margin-bottom: 50px;
  }

  h2 {
    font-size: 70px;
    margin-bottom: 50px;
  }

  .next {
    margin-top: 25px;
  }
}